<div class="form-wrapper" ...attributes>
    <ContentPanel @title="Compte utilisateur" @open={{true}} @actionButtons={{this.userAccountActionButtons}} @wrapperClass="bordered-top">
        <div class="space-y-2">
            <InputGroup @name="Compte utilisateur" @helpText="Sélectionnez un utilisateur pour ce conducteur">
                <ModelSelect
                    @modelName="user"
                    @selectedModel={{@resource.user}}
                    @placeholder="Sélectionner un utilisateur"
                    @query={{hash doesnt_have_driver=true}}
                    @triggerClass="form-select form-input"
                    @infiniteScroll={{false}}
                    @renderInPlace={{true}}
                    @onChange={{fn (mut @resource.user)}}
                    @permission="fleet-ops update-user-for driver"
                    as |model|
                >
                    <div class="flex flex-row">
                        <div class="mr-2 w-6">
                            <Image src={{model.avatar_url}} @fallbackSrc={{config "defaultValues.userImage"}} alt={{model.name}} class="w-6 h-6 rounded-md" />
                        </div>
                        <div class="flex flex-col">
                            <div class="font-semibold">{{model.name}}</div>
                            <div class="text-xs flex flex-row items-center leading-4">
                                <FaIcon @icon="envelope" @size="sm" class="mr-1 opacity-75" />
                                <span>{{n-a model.email}}</span>
                            </div>
                            <div class="text-xs flex flex-row items-center leading-4">
                                <FaIcon @icon="phone" @size="sm" class="mr-1 opacity-75" />
                                <span>{{n-a model.phone}}</span>
                            </div>
                        </div>
                    </div>
                </ModelSelect>
            </InputGroup>
            {{#if @resource.user}}
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 no-input-group-padding">
                    <InputGroup @name="Nom" @wrapperClass="col-span-2 mb-0i">
                        <Input @value={{@resource.user.name}} @type="text" class="w-full form-input" placeholder="Nom" disabled={{true}} />
                    </InputGroup>
                    <InputGroup @name="Email" @wrapperClass="mb-0i">
                        <Input @value={{@resource.user.email}} @type="text" class="w-full form-input" placeholder="Email" disabled={{true}} />
                    </InputGroup>
                    <InputGroup @name="Téléphone" @wrapperClass="mb-0i">
                        <PhoneInput @value={{@resource.user.phone}} @onInput={{fn (mut @resource.phone)}} class="form-input w-full" disabled={{true}} />
                    </InputGroup>
                </div>
            {{/if}}
        </div>
    </ContentPanel>

    <ContentPanel @title="Détails du conducteur" @open={{true}} @wrapperClass="bordered-top">
        <div class="flex flex-row space-x-3 mb-3">
            <div class="flex items-center justify-start rounded-full">
                <Image
                    src={{@resource.photo_url}}
                    @fallbackSrc={{config "defaultValues.driverImage"}}
                    alt={{@resource.name}}
                    height="48"
                    width="48"
                    class="h-14 w-14 rounded-full shadow-sm"
                />
                <Attach::Tooltip @class="clean" @animation="scale" @placement="top">
                    <InputInfo @text="Télécharger une nouvelle photo" />
                </Attach::Tooltip>
            </div>
            <div>
                <UploadButton
                    @name="Photos"
                    @accept="image/*"
                    @onFileAdded={{perform this.handlePhotoUpload}}
                    @icon="upload"
                    @size="xs"
                    @buttonText="Télécharger une image"
                    @disabled={{cannot-write @resource}}
                />
                <div class="px-1">
                    <span class="text-gray-300 dark:text-gray-600 text-xs">JPG, PNG, GIF supportés</span>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 text-xs no-input-group-padding">
            {{!-- <InputGroup @name="ID interne">
                <Input @value={{@resource.internal_id}} @type="text" class="w-full form-input" placeholder="ID interne" disabled={{cannot-write @resource}} />
            </InputGroup> --}}

            <InputGroup @name="Numéro de permis">
                <Input
                    @value={{@resource.drivers_license_number}}
                    @type="text"
                    class="w-full form-input"
                    placeholder="Numéro de permis"
                    disabled={{cannot-write @resource}}
                />
            </InputGroup>

            <InputGroup @name="Date d'expiration du permis">
                <DatePicker
                    @value={{or (format-date-fns @resource.drivers_license_expiry "dd-MM-yyyy") null}}
                    @onChange={{fn (mut @resource.drivers_license_expiry)}}
                    @placeholder="DD-MM-YYYY"
                    class="filter-date-input w-full flex-1"
                />
            </InputGroup>

            {{!-- <InputGroup @name="Fournisseur">
                <ModelSelect
                    @modelName="vendor"
                    @selectedModel={{@resource.vendor}}
                    @placeholder="Sélectionner un fournisseur"
                    @triggerClass="form-select form-input"
                    @infiniteScroll={{false}}
                    @renderInPlace={{true}}
                    @onChange={{fn (mut @resource.vendor)}}
                    @disabled={{cannot-write @resource}}
                    as |model|
                >
                    {{model.name}}
                </ModelSelect>
            </InputGroup> --}}

            {{!-- <InputGroup @name="Flotte">
                <ModelSelect
                    @modelName="fleet"
                    @selectedModel={{@resource.fleet}}
                    @placeholder="Sélectionner une flotte"
                    @triggerClass="form-select form-input"
                    @infiniteScroll={{false}}
                    @renderInPlace={{true}}
                    @onChange={{fn (mut @resource.fleet)}}
                    @onChangeId={{fn (mut @resource.fleet_uuid)}}
                    @disabled={{cannot-write @resource}}
                    as |model|
                >
                    {{model.name}}
                </ModelSelect>
            </InputGroup> --}}

            <InputGroup @name="Véhicule">
                <ModelSelect
                    @modelName="vehicle"
                    @selectedModel={{@resource.vehicle}}
                    @placeholder="Sélectionner un véhicule"
                    @triggerClass="form-select form-input"
                    @infiniteScroll={{false}}
                    @renderInPlace={{true}}
                    @onChange={{fn (mut @resource.vehicle)}}
                    @onChangeId={{fn (mut @resource.vehicle_uuid)}}
                    @disabled={{cannot-write @resource}}
                    as |model|
                >
                    {{model.display_name}}
                </ModelSelect>
            </InputGroup>

            <InputGroup @name="Ville">
                <Input @value={{@resource.city}} @type="text" class="w-full form-input" placeholder="Ville" disabled={{cannot-write @resource}} />
            </InputGroup>

            <InputGroup @name="Pays">
                <CountrySelect
                    class="w-full form-input form-select form-datalist"
                    @value={{@resource.country}}
                    @onChange={{fn (mut @resource.country)}}
                    disabled={{cannot-write @resource}}
                />
            </InputGroup>

            <InputGroup @name="Statut">
                <div class="fleetbase-model-select fleetbase-power-select ember-model-select">
                    <PowerSelect
                        @options={{get-fleet-ops-options "driverStatuses"}}
                        @selected={{find-by "value" @resource.status (get-fleet-ops-options "driverStatuses")}}
                        @onChange={{set-model-attr @resource "status"}}
                        @placeholder="Sélectionner un statut"
                        @triggerClass="form-select form-input"
                        @disabled={{cannot-write @resource}}
                        as |type|
                    >
                        <div class="text-sm">
                            <div class="font-semibold normalize-in-trigger">{{type.label}}</div>
                            <div class="hide-from-trigger">{{type.description}}</div>
                        </div>
                    </PowerSelect>
                </div>
            </InputGroup>
            {{!-- <InputGroup @name="Coordonnées" @wrapperClass="col-span-2">
                <ModelCoordinatesInput @model={{@resource}} @disabled={{cannot-write @resource}} @autocomplete="location" />
            </InputGroup> --}}
        </div>
        {{!-- <RegistryYield @registry="fleet-ops:component:driver:form:details" as |RegistryComponent|>
            <RegistryComponent @resource={{@resource}} @controller={{this.controller}} @permission={{get-write-permission @resource}} />
        </RegistryYield> --}}
    </ContentPanel>

    {{!-- <CustomField::Yield @subject={{@resource}} @wrapperClass="bordered-top" />

    <RegistryYield @registry="fleet-ops:component:driver:form" as |RegistryComponent|>
        <RegistryComponent @resource={{@resource}} @controller={{this.controller}} @permission={{get-write-permission @resource}} />
    </RegistryYield>

    <ContentPanel @title="Avatar" @open={{true}} @wrapperClass="bordered-top">
        <AvatarPicker @model={{@resource}} @defaultAvatar={{config "defaultValues.driverAvatar"}} />
    </ContentPanel>

    <ContentPanel @title="Formations supplémentaires" @open={{true}} @wrapperClass="bordered-top">
        <MetadataEditor @value={{@resource.meta}} @onChange={{fn (mut @resource.meta)}} />
    </ContentPanel> --}}
</div>